@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

body {
    background: url('../images/bg-pattern.svg') white no-repeat left -70px;
    /* background-size: contain; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

* {
    font-family: 'Manrope', sans-serif;
}

h1 {
    color: black;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 0;
}

p {
    color: hsl(225, 20%, 60%);
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

.title-container {
    background: url('../images/pattern-circles.svg') transparent no-repeat center center;
    padding: 45px 0 50px;
    text-align: center;
}

.title-container p {
    line-height: 23px;
}

.pageviews-container, .bottom {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 30px 10px 5px rgba(0, 0, 0, 5%);
    padding: 25px;
    width: 300px;
}

.pageviews-container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pageviews-container .views {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.pageviews-container p.price.visible-xs {
    margin-top: 25px;
    position: absolute;
    right: 65px;
}

.pageviews-container p #price-xs {
    position: absolute;
    right: 50px;
    top: -15px;
}

.pageviews-container p #price-xs, .pageviews-container p #price-lg {
    color: black;
    font-size: 32px;
    font-weight: 800;
    margin-right: 5px;
}

.pageviews-container .visible-lg {
    display: none;
}

.slidecontainer {
    margin-bottom: 70px;
    position: relative;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: hsl(224, 65%, 95%);
    /* margin: 20px 0; */
    margin: 20px 0 30px;
    outline: none;
}

/* .slider:hover {
    opacity: 1;
} */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url('../images/icon-slider.png') hsl(174, 86%, 45%) no-repeat center center;
    border-radius: 50%;
    box-shadow: 0px 13px 20px 6px rgb(16 213 194 / 50%);
    cursor: pointer;
    height: 30px;
    padding: 20px;
    width: 30px;
}

.slider::-moz-range-thumb {
    background: url('../images/icon-slider.png') hsl(174, 86%, 45%) no-repeat center center;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    padding: 10px;
    width: 30px;
}

.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:focus,
.slider::-webkit-slider-thumb:visited,
.slider::-webkit-slider-thumb:active {
    background-color: hsl(174, 89%, 41%);
}

.billing-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 5px;
    margin-right: -15px;
}

.billing-container p {
    font-size: 12px;
}

.billing-container p span {
    background-color: hsl(14, 92%, 95%);
    border-radius: 50px;
    color: hsl(15, 100%, 70%);
    font-size: 10px;
    font-weight: 800;
    margin-left: 3px;
    padding: 2px 8px;
}

.billing-container p.visible-xs {
    display: block;
}

.billing-container p.visible-lg{
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    height: 22px;
    margin: 0 15px;
    width: 45px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(226, 68%, 95%);
    -webkit-transition: .4s;
    transition: .4s;
}

.round:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.round:hover {
    background: hsl(174, 77%, 80%);
}

input:checked+.round {
    background-color: hsl(174, 86%, 45%);
}

input:checked+.round:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.round {
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}

.bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid hsl(226, 68%, 95%);
    box-shadow: 0px 10px 10px 5px rgb(0 0 0 / 5%);
    padding-bottom: 30px;
}

.checklist-container .checklist {
    display: flex;
    align-items: end;
    justify-content: center;
}

.checklist-container .checklist p {
    font-size: 12px;
    margin: 0 0 10px;
}

.checklist-container .checklist p svg {
    margin-right: 15px;
}

.btn-container {
    margin: 20px 0 0;
}

.btn-container button {
    background-color: hsl(227, 35%, 25%);
    border-style: none;
    border-radius: 25px;
    color: hsl(225, 20%, 60%);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 800;
    margin: 0 auto;
    padding: 10px;
    width: 55%;
}

.btn-container button:active,
.btn-container button:hover,
.btn-container button:focus,
.btn-container button:visited {
    color: white;
}

.attribution {
    background-color: hsl(227, 35%, 25%);
    margin-top: 200px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.attribution p,
.attribution p a {
    color: white;
}

.attribution p a {
    color: hsl(25, 97%, 53%);
    text-decoration: none;
}

.attribution p a:active,
.attribution p a:hover,
.attribution p a:focus,
.attribution p a:visited {
    text-decoration: underline;
}

@media (min-width: 1440px) {
    body {
        background-size: contain;
    }

    .title-container {
        padding: 65px 0 70px;
    }
    
    .title-container h1 {
        font-size: 30px;
    }

    .title-container p {
        font-size: 14px;
    }

    .title-container p br{
        display: none;
    }

    .pageviews-container, .bottom {
        box-shadow: 0px 5px 10px 10px rgb(0 0 0 / 5%);
        padding: 30px 40px;
        width: 450px;
    }

    .pageviews-container .visible-xs {
        display: none;
    }

    .pageviews-container div.visible-lg {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pageviews-container .views {
        font-size: 14px;
    }

    .pageviews-container div.visible-lg p {
        font-size: 16px;
    }

    .pageviews-container p #price-lg {
        font-size: 40px;
        position: absolute;
        right: 65px;
        top: -1px;
    }

    .slidecontainer {
        margin-bottom: 15px;
    }

    .slider {
        margin-top: 45px;
    }

    .billing-container {
        margin-right: 15px;
    }

    .billing-container p {
        font-size: 14px;
    }

    .billing-container p span {
        font-size: 11px;
        margin-left: 8px;
    }

    .billing-container p.visible-xs {
        display: none;
    }

    .billing-container p.visible-lg {
        display: block;
    }
    
    .bottom {
        box-shadow: 0px 12px 10px 10px rgb(0 0 0 / 5%);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .checklist-container .checklist {
        justify-content: left;
    }

    .checklist-container .checklist p {
        font-size: 14px;
    }

    .btn-container {
        margin: 0;
    }
    
    .btn-container button {
        font-size: 14px;
        width: 165px;
    }
}